$primary : #a4a6ff;
$secondary : #4dafff; 


@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

body, #root, .app, .container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    font-family: "Lexend", sans-serif;
    font-weight: normal;
    font-style: normal;
}

button, input, textarea, h1, h2, h3, h4, h5, p, label, span {
    font-family: "Lexend", sans-serif;
    font-weight: normal;
    font-style: normal;
    margin: 0;
    padding: 0;
}

.app {
    .container {
        align-items: center;
        justify-content: center;

        .auth {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            gap: 2rem;
            min-height: 100vh;
            width: 100%;
            background-color: $primary;
        }

        h1 {
            color: rgba(0, 0, 0, 0.616);
            font-weight: 600;
            font-size: 2.5rem;
        }

        .auth form {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            background-color: white;
            padding: 2rem;
            border-radius: .35rem;
            width: 16rem;
        }

        input, textarea {
            padding: .5rem;
            border: none;
            border-bottom: solid 1px gray;
        }

        button {
            padding: .5rem;
            background-color: $secondary;
            color: white;
            border: none;
            margin-top: 1rem;
            border-radius: .35rem;
            cursor: pointer;
            font-weight: 400;
        }

        span {
            font-weight: 300;
            color: gray;
            font-size: 1rem;
            text-align: center;
        }

        p {
            color: red;
            font-size: 1rem;
            text-align: center;
            font-weight: 300;
        }
    }
}